.task-container
{
    margin-top: 1px 0;
    width: auto;
    display: flex;
}

.task-input
{
    height: 40px;
    width: 300px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: rgb(46, 129, 101);
    color:rgb(181, 205, 226);
    
}

.add-task-button
{
    margin: 10px;
    flex:1;
    
    
}
.task-input1
{
    margin-top: 50px;
    background-color: rgb(46, 129, 101);
}
form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}